doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    //- https://hackernoon.com/frontend-framework-attack-riotjs-product-customiser-a2922112137b
