
    <!-- FOOTER -->
    <footer>
            <!-- Bottom Footer -->
            <section class="padding-08x background-black">
              <div class="line">
                <div class="s-12 l-6">
                  <p class="text-size-12">© 2018, Thời Trang Elmer</p>
                  <!-- <p class="text-size-12">All images have been purchased from Bigstock. Do not use the images in your website.</p> -->
                </div>
                <div class="s-12 l-6">
                  <a class="right text-size-12" title="Responsee - lightweight responsive framework">Tạo bởi Trang Thanh</a>
                </div>
              </div>
            </section>
    </footer> 

    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>   
    <script type="text/javascript" src="js/firebaseVoting.js"></script>  
    <script type="text/javascript" src="js/rioter-clothes.js"></script>
    
  </body>  
</html>