<% include ../layout/header.ejs %>
<!-- Header End -->

    <!-- MAIN -->
    <main role="main" class="white">
      <!-- Main Carousel -->
      <section class="section background-dark">
        <div class="line">
          <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-wide-arrows">
            <div class="item">
              <div class="s-12 center">
                <img src="img/banner1.jpg" alt="">
                <!-- <div class="carousel-content">
                  <div class="padding-2x">
                    <div class="s-12 m-12 l-8">
                      <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1">Prospera is the New Amazing HTML5 Template</p>
                      <p class="text-white text-size-16 margin-bottom-40">Duis autem vel eum iriure dolor in hendrerit in vulputate velit<br> esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>  
                    </div>                  
                  </div>
                </div> -->
              </div>
            </div>
            <div class="item">
              <div class="s-12 center">
                <img src="img/banner2.png" alt="">
                <!-- <div class="carousel-content">
                  <div class="padding-2x">
                    <div class="s-12 m-12 l-8">
                      <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1">With Fully Responsive Components</p>
                      <p class="text-white text-size-16 margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>    
                    </div>                  
                  </div>
                </div> -->
              </div>
            </div>
          </div>  
        </div>
      </section>

      <div>
          <ul class=" chevron">
              <li><a href="/details" class="noTransition">Trang Chủ</a></li>
              </ul>
      </div>
      <!-- Section 1 -->
      <section class="section background-white"> 
        <div class="line">
            <div class="form-field">
                <label for="photo">Photo</label>
                <input class="input" id="photo" name="photo" type="file" />
              </div>
          <!-- <input type="file" name="file" id="update"/> -->
          <button onclick="uploadFile()" id="uploadButton" class="button-register-receiver-news button border-radius text-white" type="button">ĐĂNG KÝ</button>
        </div>
      </section>
      
      <!-- Section 1 -->
      <section class="section background-white"> 
        <div class="line">
          <div class="top_floor"> <h2 class="title_category title_promohome">
              <span class="headline text-thin text-s-size-30 text-bold">Áo Sơ Mi Nam</span> 
              <span class="total_sp_promo blue"> ( Có <strong>512</strong> sản phẩm <a href="/khuyen-mai" title="Xem thêm sản phẩm áo sơ mi nam" class="blue link_more"><strong>xem thêm </strong></a>) </span> </h2> 
          </div>
          <div class="margin">
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao1.jpg" alt="">
                <h2 class="text-thin">Áo Thun In Chữ</h2>
                <p>180,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao1.jpg" alt="">
                <h2 class="text-thin">Áo Thun In Chữ</h2>
                <p>180,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao1.jpg" alt="">
                <h2 class="text-thin">Áo Thun In Chữ</h2>
                <p>180,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
            </div>
          </div>
        </div>
      </section>

       <!-- Section 1 -->
       <section class="section background-white"> 
          <div class="line">
            <div class="top_floor"> <h2 class="title_category title_promohome">
                <span class="headline text-thin text-s-size-30 text-bold">Áo Sơ Mi Nữ</span> 
                <span class="total_sp_promo blue"> ( Có <strong>512</strong> sản phẩm <a href="/khuyen-mai" title="Xem thêm sản phẩm áo sơ mi nam" class="blue link_more"><strong>xem thêm </strong></a>) </span> </h2> 
            </div>
            <div class="margin">
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao3.jpg" alt="">
                <h2 class="text-thin">Thắt Lưng</h2>
                <p>120,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao3.jpg" alt="">
                <h2 class="text-thin">Thắt Lưng</h2>
                <p>120,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao3.jpg" alt="">
                <h2 class="text-thin">Thắt Lưng</h2>
                <p>120,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
            </div>
          </div>
        </section>
      
      <!-- Section 2 -->
      <section class="section background-primary text-center margin-top-70">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">Đăng ký nhận tin</h2>
            <form class="customform text-white">
              <div class="s-12 m-12 l-12 horizontal">
                <input name="email" class="white email border-radius border-color-white" placeholder="Nhập địa chỉ email của bạn..." title="Nhập địa chỉ email của bạn..." type="text" />
                <button onclick="{addRestaurant()}" class="button-register-receiver-news button border-radius text-white" type="submit">ĐĂNG KÝ</button>
              </div>
            </form>
            <!-- <p class="text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p> -->
          </div>
        </div>  
      </section>

      
        <!-- Section 4 --> 
        <section class="section background-white">
            <div class="line">
              <h2 class="text-thin headline text-center text-s-size-30 margin-bottom-50">TIN TỨC</h2>
              <div class="carousel-default owl-carousel carousel-wide-arrows vertical">
                <div class="item">
                  <div class="margin"> 
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius margin-m-bottom">
                        <div class="margin">
                          <div class="s-12 m-12 l-4 margin-m-bottom">
                            <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                          </div>
                          <div class="s-12 m-12 l-8 margin-m-bottom">
                            <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                            <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                            <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                          </div>
                        </div>  
                      </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div> 
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="item"> 
                  <div class="margin"> 
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius margin-m-bottom">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div> 
                      </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div>  
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="item">
                  <div class="margin"> 
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius margin-m-bottom">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div>  
                      </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div>   
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>    
          </section>
      
    </main>
    
    <div>
            <!-- Social -->
            <div class="padding text-center ">
                <a href="/"><i class="icon-facebook_circle icon2x"></i></a> 
                <a href="/"><i class="icon-twitter_circle icon2x"></i></a>
                <a href="/"><i class="icon-google_plus_circle icon2x "></i></a>
                <a href="/"><i class="icon-instagram_circle icon2x "></i></a>                                                                        
              </div>
              
              <!-- Main Footer -->
              <section class="section background-black">
                <div class="line">
                  <div class="margin background-black">
                    <!-- Collumn 1 -->
                    <div class="s-12 m-12 l-4 margin-m-bottom-2x">
                      <img src="img/logo-free.png" alt="">
        
                      <div class="line">
                        <h4 class="text-uppercase text-strong margin-top-30 white">Về Chúng Tôi</h4>
                        <div class="margin">
                          <div class="s-12 m-12 l-4 margin-m-bottom">
                            <a class="image-hover-zoom" href="/"><img src="img/img3.jpg" alt=""></a>
                          </div>
                          <div class="s-12 m-12 l-8 margin-m-bottom">
                            <p>Thời Trang Elmer mang đến cho bạn sự thoải mái, mẫu mã đa dạng, giá cả hợp lý.</p>
                            <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Collumn 2 -->
                    <div class="s-12 m-12 l-4 margin-m-bottom-2x">
                      <h4 class="text-uppercase text-strong white">Liên Hệ Chúng Tôi</h4>
                      <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                          <i class="icon-placepin text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                          <p><b>Adress 1:</b> Thanh Đa, Bình Thạnh, Hồ Chí Minh</p>
                        </div>
                      </div>
                      <div class="line">
                          <div class="s-1 m-1 l-1 text-center">
                            <i class="icon-placepin text-primary text-size-12"></i>
                          </div>
                          <div class="s-11 m-11 l-11 margin-bottom-10">
                            <p><b>Adress 2:</b> Phước Tân, Xuyên Mộc, Bà Rịa Vũng Tàu</p>
                          </div>
                        </div>
                      <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                          <i class="icon-mail text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                          <p><a href="/" class="text-primary-hover"><b>E-mail:</b> thoitrangkeva@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                          <i class="icon-smartphone text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11 margin-bottom-10">
                          <p><b>Phone:</b> 0961 866 691</p>
                        </div>
                      </div>
                      <div class="line">
                        <div class="s-1 m-1 l-1 text-center">
                          <i class="icon-facebook text-primary text-size-12"></i>
                        </div>
                        <div class="s-11 m-11 l-11">
                          <p><a href="/" class="text-primary-hover"><b>Facebook</b></a></p>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Collumn 3 -->
                    <div class="s-12 m-12 l-4">
                      <h4 class="text-uppercase text-strong white">FACEBOOK FANPAGE</h4>
                      <form class="customform text-white">
                        <div class="s-12">
                            <!-- https://developers.facebook.com/docs/plugins/page-plugin -->
                            <div class="fb-page" data-href="https://www.facebook.com/produce48vn/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/produce48vn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/produce48vn/">PRODUCE48vn - Produce 48 Vietnamese Fanpage</a></blockquote></div>
                          </div> 
                      </form>
                    </div>
                  </div>
                </div>
              </section>
              <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
    </div>
    
<!-- Footer -->
<% include ../layout/footer.ejs %>