<% include ../layout/header.ejs %>
<!-- Header End -->

    <!-- MAIN -->
    <main role="main" class="white">
      <!-- Main Carousel -->
      <section class="section background-dark">
        <div class="line">
          <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-wide-arrows">
            <div class="item">
              <div class="s-12 center">
                <img src="img/banner1.jpg" alt="">
                <!-- <div class="carousel-content">
                  <div class="padding-2x">
                    <div class="s-12 m-12 l-8">
                      <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1">Prospera is the New Amazing HTML5 Template</p>
                      <p class="text-white text-size-16 margin-bottom-40">Duis autem vel eum iriure dolor in hendrerit in vulputate velit<br> esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>  
                    </div>                  
                  </div>
                </div> -->
              </div>
            </div>
            <div class="item">
              <div class="s-12 center">
                <img src="img/banner2.png" alt="">
                <!-- <div class="carousel-content">
                  <div class="padding-2x">
                    <div class="s-12 m-12 l-8">
                      <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1">With Fully Responsive Components</p>
                      <p class="text-white text-size-16 margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>    
                    </div>                  
                  </div>
                </div> -->
              </div>
            </div>
          </div>  
        </div>
      </section>

      <div>
          <ul class=" chevron">
              <li><a href="/details" class="noTransition">Trang Chủ</a></li>
              </ul>

              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 368.6 184.3" style="enable-background:new 0 0 184.3 184.3;" xml:space="preserve">

        <g>
            <path d="M171.3,92.1c0,43.7-35.5,79.2-79.2,79.2s-79.2-35.5-79.2-79.2s35.5-79.2,79.2-79.2S171.3,48.4,171.3,92.1z M92.1,39.1
                c-29.3,0-53,23.7-53,53s23.7,53,53,53V39.1z"/>
        </g>
        <g transform="translate(184.3)">
            <path d="M121.6,144.9c-2.5,0-5-0.8-7.1-2.3l-13.7-9.9c-2.6-1.9-5.6-2.9-8.8-2.9s-6.2,1-8.8,2.9l-13.7,9.9c-2.1,1.5-4.5,2.3-7.1,2.3
                c-3.9,0-7.5-1.9-9.8-5c-2.3-3.1-2.9-7-1.7-10.8l5.2-16.1c2-6.2-0.2-12.9-5.4-16.7l-13.7-9.9c-4.3-3.1-6-8.4-4.4-13.5
                s6.1-8.3,11.5-8.3h16.9c6.5,0,12.2-4.1,14.2-10.3l5.2-16.1c1.6-5.1,6.1-8.3,11.5-8.3s9.8,3.3,11.5,8.3l5.2,16.1
                c2,6.2,7.7,10.3,14.2,10.3h16.9c5.3,0,9.8,3.3,11.5,8.3s-0.1,10.4-4.4,13.5l-13.7,9.9c-5.3,3.8-7.4,10.5-5.4,16.7l5.2,16.1
                c1.2,3.7,0.6,7.7-1.7,10.8C129.2,143,125.5,144.9,121.6,144.9z M86,39.9L80.8,56c-2.8,8.5-10.7,14.2-19.6,14.2H44.3
                c-6.2,0-8.8,7.9-3.8,11.6l13.7,9.9c7.2,5.2,10.2,14.6,7.5,23l-5.2,16.1c-1.9,5.9,4.8,10.8,9.8,7.1L80,128c3.6-2.6,7.9-3.9,12.1-3.9
                c4.3,0,2.6-88.6,0-88.6C89.6,35.5,87,37,86,39.9z"/>
        </g>
              </svg>
      </div>
      <!-- Section 1 -->
      <section class="section background-white"> 
        <div class="line">
            <div class="form-field">
                <label for="photo">Photo</label>
                <input class="input" id="photo" name="photo" type="file" />
              </div>
          <!-- <input type="file" name="file" id="update"/> -->
          <button onclick="uploadFile()" id="uploadButton" class="button-register-receiver-news button border-radius text-white" type="button">ĐĂNG KÝ</button>
        </div>
      </section>
      
      <!-- Section 1 -->
      <section class="section background-white"> 
        <div class="line">
          <div class="top_floor"> <h2 class="title_category title_promohome">
              <span class="headline text-thin text-s-size-30 text-bold">Áo Sơ Mi Nam</span> 
              <span class="total_sp_promo blue"> ( Có <strong>512</strong> sản phẩm <a href="/khuyen-mai" title="Xem thêm sản phẩm áo sơ mi nam" class="blue link_more"><strong>xem thêm </strong></a>) </span> </h2> 
          </div>
          <div class="margin">
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao1.jpg" alt="">
                <h2 class="text-thin">Áo Thun In Chữ</h2>
                <p>180,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao1.jpg" alt="">
                <h2 class="text-thin">Áo Thun In Chữ</h2>
                <p>180,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao1.jpg" alt="">
                <h2 class="text-thin">Áo Thun In Chữ</h2>
                <p>180,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
            </div>
          </div>
        </div>
      </section>

       <!-- Section 1 -->
       <section class="section background-white"> 
          <div class="line">
            <div class="top_floor"> <h2 class="title_category title_promohome">
                <span class="headline text-thin text-s-size-30 text-bold">Áo Sơ Mi Nữ</span> 
                <span class="total_sp_promo blue"> ( Có <strong>512</strong> sản phẩm <a href="/khuyen-mai" title="Xem thêm sản phẩm áo sơ mi nam" class="blue link_more"><strong>xem thêm </strong></a>) </span> </h2> 
            </div>
            <div class="margin">
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao3.jpg" alt="">
                <h2 class="text-thin">Thắt Lưng</h2>
                <p>120,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao3.jpg" alt="">
                <h2 class="text-thin">Thắt Lưng</h2>
                <p>120,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <img class="margin-bottom" src="img/ao3.jpg" alt="">
                <h2 class="text-thin">Thắt Lưng</h2>
                <p>120,000 VNĐ</p> 
                <a class="text-more-info text-primary-hover" href="/">Xem Thêm</a>                
              </div>
            </div>
          </div>
        </section>
      
      <!-- Section 2 -->
      <section class="section background-primary text-center margin-top-70">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">Đăng ký nhận tin</h2>
            <form class="customform text-white">
              <div class="s-12 m-12 l-12 horizontal">
                <input name="email" class="white email border-radius border-color-white" placeholder="Nhập địa chỉ email của bạn..." title="Nhập địa chỉ email của bạn..." type="text" />
                <button onclick="{addRestaurant()}" class="button-register-receiver-news button border-radius text-white" type="submit">ĐĂNG KÝ</button>
              </div>
            </form>
            <!-- <p class="text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p> -->
          </div>
        </div>  
      </section>

      
        <!-- Section 4 --> 
        <section class="section background-white">
            <div class="line">
              <h2 class="text-thin headline text-center text-s-size-30 margin-bottom-50">TIN TỨC</h2>
              <div class="carousel-default owl-carousel carousel-wide-arrows vertical">
                <div class="item">
                  <div class="margin"> 
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius margin-m-bottom">
                        <div class="margin">
                          <div class="s-12 m-12 l-4 margin-m-bottom">
                            <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                          </div>
                          <div class="s-12 m-12 l-8 margin-m-bottom">
                            <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                            <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                            <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                          </div>
                        </div>  
                      </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div> 
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="item"> 
                  <div class="margin"> 
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius margin-m-bottom">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div> 
                      </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div>  
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="item">
                  <div class="margin"> 
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius margin-m-bottom">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div>  
                      </div>
                    </div>
                    <div class="s-12 m-12 l-6">
                      <div class="image-border-radius">
                          <div class="margin">
                              <div class="s-12 m-12 l-4 margin-m-bottom">
                                <a class="image-hover-zoom" href="/"><img src="https://www.elle.vn/wp-content/uploads/2018/06/22/elle-viet-nam-phu-kien-thoi-trang-3.jpg" alt=""></a>
                              </div>
                              <div class="s-12 m-12 l-8 margin-m-bottom">
                                <h3><a class="text-dark text-primary-hover" href="/">CHÀO ĐÓN MÙA HÈ VỚI NHỮNG PHỤ KIỆN THỜI TRANG ĐẦY PHONG CÁCH</a></h3>
                                <p>[Tạp chí Phái đẹp ELLE - số tháng 6/2018] Cùng chào đón những cuộc kết giao thời trang mới trên...</p>
                                <a class="text-more-info text-primary-hover" href="/">Xem thêm</a>
                              </div>
                            </div>   
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>    
          </section>
      
    </main>
    
    
<!-- Footer -->
<% include ../layout/footer.ejs %>