<% include ../layout/header.ejs %>
<!-- Header End -->

<div class="body-try">
    <head>
        <title>Riot | Riot Man Customiser</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/preflight.min.css" rel="stylesheet">
        <!-- Any of your own CSS would go here -->
        <link rel="stylesheet" href="css/template-style.css">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/utilities.min.css" rel="stylesheet">
    </head>
    <body class="font-sans body-try">
        <product-customiser></product-customiser>
    </body>
</div>

<!-- Footer -->
<% include ../layout/footer.ejs %>